.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #1a1a2e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Garante que o menu fique sempre na frente */
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0e0e0;
  text-decoration: none;
  flex-grow: 1;
  height: 100%;
}

.navItem:hover {
  color: #ffffff;
  background-color: #16213e;
}

.navItem .icon {
  font-size: 28px; /* Aumenta o tamanho do ícone */
}
